#container .modal-dialog .checkboxleft label{
	padding-left:5%;
	width:80%;
}
#container .modal-dialog .checkboxleft input{
	width:5%;
}
#container .modal-dialog checkboxleft label{
	width:30%;
}
	
	

/*
	light #8CACFF
	original #FB4001
	dark #3535FF
	*/
	